* { margin: 0; padding: 0; box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color:#434455;
  background-color: #FFFFFF;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  color: #FFFFFF;
  margin-bottom: 48px;
  max-width: 496px;
  height: 120px;
  margin: 0 auto 48px auto;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  color: #2E2F42;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #2E2F42;
}

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E7E9FC;
  padding: 24px 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: inline-block;
  vertical-align: middle;
  display: flex;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #2E2F42;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin-right: 76px;
}
.logo span {
    color: #4D5AE5;
}
.nav-list {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  display: flex;
}
.nav-list-item {
  display: inline-block;
  margin-right: 40px; 
  font-weight: 500;
  font-style: medium;
  color: #2E2F42;
}
.header-address {
  color: #434455;
  font-weight: 400;
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}

.hero {
  background-color: #2E2F42;
  text-align: center;
  height: 600px;
  width: auto;
  padding-top: 188px;
}
.hero-title {
  align-self: center;
}
.btn {
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 15%);
}

.primary-btn {
  background-color: #4D5AE5;
  color: #FFFFFF;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 156px;
  padding-right: 156px;
}
.features {
  display: flex;
  gap: 24px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  width: calc((100% - 72px) / 4);
}
.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}
.features-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #F4F4FD;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  width: 264px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #2E2F4214;
  box-shadow: 0px 1px 1px 0px #2E2F4229;
  box-shadow: 0px 1px 6px 0px #2E2F4214;
}
.team-list-name {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
}
.team-list-position {
  text-align: center;
  margin-bottom: 32px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-container {
  border-color: #E7E9FC;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}
.portfolio-list-name {
  padding: 32px 16px 8px 16px;
}
.portfolio-list-category {
  padding: 0 16px 32px 16px;
}
.footer {
  background-color: #2E2F42;
  padding: 100px 156px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  margin-right: 76px;
}
.footer-text {
  color: #F4F4FD;
  max-width: 264px;
  padding-top: 16px;
}